main {
  margin-top: 120px;
}
#root {
  margin-top: 42px;
}
@media (max-width: 768px) {
  #root {
    margin-top: 0px;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
